body, head {
    font-family: 'HvDTrial Brandon Grotesque', sans-serif;
    background-color: #ffffff;
    color:#000000;
    margin: 0;
}

.header {
    background-color: #ffffff;
    color: #000000;
    
    padding: 0px;
    height: 100px;
    display: flex;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    align-content: center;
    column-gap: 0px;
    color: #fff;
}

.header img {
    margin: 15px;
}

.header a {
    align-self: center;
    color: #000000;
}

.headerbtn {
    padding: 20px;
    margin: 0px;
    color: #000000;
    justify-content: center;
    align-content: center;
    min-width: 100px;
    text-align: center;
    justify-content: center;
}

.headerbtn:hover {
    background-color: #bcbcbc;
}

.container {
    background-color: #0096c0;
    color: #ffffff;
    padding: 10px;
    display: block;
    text-align: center;
}

.button {
    background-color: #1e669c;
    color: #fff;
    align-self: center;
    border-width: 0;
    padding:10px;
    margin: 10px;
    margin-top: 25px;

    font-size: 15px;

    transition: transform 550ms linear(0, 0.013 0.6%, 0.05 1.2%, 0.2 2.5%, 0.949 6.7%, 1.2 8.4%, 1.286 9.2%, 1.35 10%, 1.392 10.8%, 1.411 11.6%, 1.411 12.2%, 1.401 12.8%, 1.343 14.2%, 1.258 15.5%, 1.016 18.7%, 0.914 20.4%, 0.856 21.9%, 0.831 23.5%, 0.834 24.7%, 0.858 26.1%, 0.996 30.7%, 1.037 32.4%, 1.06 33.9%, 1.07 35.4%, 1.061 37.7%, 0.989 43.8%, 0.971 47.2%, 1.012 59.1%, 0.995 70.8%, 1); 
    box-shadow: 200px;
}
    

.button:hover {
    background-color: #002540;
    transform: scale();
}

.button:active {
    transform: scale(.8);
}

.tickercontainer {
    margin: 0;
    padding: 10px;
    background-color: #1e669c;
}
#ticker {
    position: relative;
	white-space: nowrap;
	animation: moveTicker 20s linear infinite;
	display: inline-block;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin: 15px;
    font-style: italic;
}

@keyframes moveTicker
	{
		from
		{
			transform: translate3d(0%, 0%, 0px);
			left: 100%;
		}
		to
		{
			transform: translate3d(-50%, 0%, 0px);
			left: -50%;
		}
    }


.footer {
    background-color: #002540;
    padding: 20px;
    height: 75px;
    display: flex;
    top: 0;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    align-content: center;
    column-gap: 10px;
    color: #fff;
    justify-content: right;
    
}

.footer a {
    
}